fastapi
uvicorn[standard]
asyncpg
sqlalchemy
supabase
python-multipart
# Add other dependencies as needed, e.g., for ML:
librosa
moviepy==1.0.3
numpy
opencv-python
openai-whisper
Pillow
scenedetect[opencv]
yt-dlp
# pandas
